.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ************* */

/* Thank you, */
/* https://github.com/mrvivacious/PorNo-_public/blob/master/popup.html#L168 */
/* Style the input */
.input_text {
  border: none;
  width: 90%;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
  font-size: 16px;
  /* outline-style: none; */
  outline-width: 1px;
  outline-color: black;
}

/* Thank you */
/* https://github.com/mrvivacious/PorNo-_public/blob/master/popup.html#L92 */
/* Style the "Add" button */
#save {
  float: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;

  background-color: #D7A6CC;

  transition: 0.7s;

  width: 95%;
  height: 24px;
}

#save:hover {
  background-color: lightgreen;
  /* color: blanchedAlmond; */
}


body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /* font-family: "Times New Roman", TimesNewRoman, sans-serif; */
  font-size: 14px;
  width: 400px;
  background-color: white;
  /* height: 320px; */
}

.jscolor {
  /* width: 54vw;
  height: 36px; */
  font-size: 12px;
  margin-left: 10vw;

  /* padding: 0px; */
  border: 0px;
}

p {
  font-size: 14px;
  margin-left: 5vw;
}

strong {
  font-size: 14px;
  /* font-style: italic; */
  /* color: blue; */
}

h1 {
  font-size: 18px;
  /* color: blue; */
}

/* Thank you, */
/* https://github.com/mrvivacious/mrvivacious.github.io/blob/master/styles.css */
#container {
  height: 100%;
  width: 100%;
  display: flex;
}

#left {
  width: 52%;
}

/* Thank you, */
/* https://www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html/ */
#middle {
  width: 3%;
  border-left: 1px solid black;
}

#right {
  width: 43%;
}

/* Thank you, */
/* https://github.com/mrvivacious/PorNo-_public/blob/master/popup.html#L66 */
li {
  cursor: pointer;
  list-style-type: none;
  padding: 5px;

  transition: 0.2s;

  /* make the list items unselectable/unhighlightable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Darker background-color on hover */
li:hover {
  background: #D7A6CC;
  color: black;
}

.swatches {
  height: 100%;
  width: 100%;
  display: flex;
}

.first {
  background-color: blue;
  width: 20%;
  padding-left: 10px;
  height: 15px;

  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.second {
  background-color: orange;
  width: 20%;
  padding-left: 10px;
  height: 15px;

  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.third {
  background-color: red;
  width: 20%;
  padding-left: 10px;
  height: 15px;

  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.fourth {
  background-color: pink;
  width: 20%;
  padding-left: 10px;
  height: 15px;

  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.fifth {
  background-color: green;
  width: 19%;
  padding-left: 10px;
  height: 15px;

  /* border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

hr {
  color: black;
}
